html { font-size: 2.4vw; }
@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:520px) { html{ font-size: 18px; } }


body {
        font-family: CenturySupraA, serif;
        line-height: 1.46;
        font-size: 0.93rem;
        font-variant-numeric: oldstyle-nums;

}
@font-face {
    font-display: auto;
    font-family: CenturySupraA;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: local(""), url('fonts/century_supra_a_regular.woff2') format("woff2"), url('fonts/century_supra_a_regular.woff') format("woff");
}

@font-face {
    font-display: auto;
    font-family: CenturySupraA;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: local(""), url('fonts/century_supra_a_italic.woff2') format("woff2"), url('fonts/century_supra_a_italic.woff') format("woff");
}

@font-face {
    font-display: auto;
    font-family: CenturySupraA;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: local(""), url('fonts/century_supra_a_bold.woff2') format("woff2"), url('fonts/century_supra_a_bold.woff') format("woff");
}

@font-face {
    font-display: auto;
    font-family: CenturySupraA;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    src: local(""), url('fonts/century_supra_a_bold_italic.woff2') format('woff2'), url('fonts/century_supra_a_bold_italic.woff') format('woff');
    }

@font-face {
    font-family: CenturySupraACaps;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: local(""), url('fonts/century_supra_a_caps_regular.woff2') format('woff2');
}

@font-face {
    font-family: CenturySupraACaps;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('fonts/century_supra_a_caps_bold.woff2') format('woff2');
}


    /* The sidebar menu */
.sidenav {
  height: 100%;
  width: 250px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #42817f; /*Digital Bedrock Green */
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: CenturySupraACaps, serif;
  color: #000000;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 3rem 0 18rem 0;
    margin-left: 12rem;
    margin-right: 2.5rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

p {
    margin-bottom: 1em;
}

h1 {
    font-family: CenturySupraACaps, serif;
    text-align: center;
}

h2 {
    font-family: CenturySupraACaps, serif;
}

h3 {
    font-family: CenturySupraACaps, serif;
}

img {
  max-width: 100%;
  height: auto;
}
